<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <display-name>Archetype Created Web Application</display-name>
    <!-- déclaration de la classe d'implémentation du filtre -->
    
    <filter>
       <filter-name>FiltreGroupe</filter-name>
       <filter-class>fr.univlyon1.m1if.m1if03.classes.FiltreGroupe</filter-class>
    </filter>
    <!-- déclaration des URL interceptées par ce filtre -->
    <filter-mapping>
       <filter-name>FiltreGroupe</filter-name>
       <!-- on aurait pu aussi définir une servlet filtrée, par un élément servlet-name -->
       <url-pattern>/GestionBillet</url-pattern>
       <url-pattern>/saisie.jsp</url-pattern>
    </filter-mapping>
    
    <filter>
       <filter-name>Filtre</filter-name>
       <filter-class>fr.univlyon1.m1if.m1if03.classes.Filtre</filter-class>
    </filter>
    <!-- déclaration des URL interceptées par ce filtre -->
    <filter-mapping>
       <filter-name>Filtre</filter-name>
       <!-- on aurait pu aussi définir une servlet filtrée, par un élément servlet-name -->
       <url-pattern>/GestionBillet</url-pattern>
       <url-pattern>/GestionGroupe</url-pattern>
       <url-pattern>/Init</url-pattern>
       <url-pattern>/Redirection</url-pattern>
       <url-pattern>/User</url-pattern>
    </filter-mapping>
    
    <servlet>
        <servlet-name>Deco</servlet-name>
        <servlet-class>fr.univlyon1.m1if.m1if03.servlets.Deco</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Groupe</servlet-name>
        <servlet-class>fr.univlyon1.m1if.m1if03.servlets.GestionGroupe</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GestionBillet</servlet-name>
        <servlet-class>fr.univlyon1.m1if.m1if03.servlets.GestionBillet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Redirection</servlet-name>
        <servlet-class>fr.univlyon1.m1if.m1if03.servlets.Redirection</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Deco</servlet-name>
        <url-pattern>/Deco</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Groupe</servlet-name>
        <url-pattern>/Groupe</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GestionBillet</servlet-name>
        <url-pattern>/GestionBillet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Redirection</servlet-name>
        <url-pattern>/Redirection</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>saisie</servlet-name>
        <jsp-file>/saisie.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>saisie</servlet-name>
        <url-pattern>/saisie.jsp</url-pattern>
    </servlet-mapping>
</web-app>
