.active { 
	display: block; 
}

.inactive { 
	display: none; 
}

.btn{
	margin: 5px;
}

.navbar li a{
	color: #fff;
}

.navbar, ul{
	list-style: none;
}

h1,h2{
	text-align: center;
}

.card{
	width:40%;
	margin-left: auto;
    margin-right: auto;
}